* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to top, #026942, #1a6d4d) ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}


.container {
    margin-top: 20px;
    margin-left: 20px;
    width: 100%;
    background: linear-gradient(to top, #026942, #1E6759) ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    display: flex;
}

.bloco {
    padding: 6px;
}

.icon {
    width: 27px;
    padding: 2px 2px 2px 2px;
    margin: 0 auto;
    display: flex;
    color: #0a0a0a;
}


.alertaTextoOk {
    font-size: 18px;
    padding-left: 4px;
}


.painel2 {
    margin-top: 15px;
    width: 305px;
    height: 269px;
    background-color: #fafafa;
    border-radius: 11px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.info {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 3px;
}

.infoItem {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.infoItemOk {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 12px;
}

.infoItemTxt {
    padding-left: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #206C5D;
    font-style: normal;
    display: flex;
}

.infoItemTxtCategorias {
    padding-left: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #206C5D;
    font-style: normal;
    display: flex;
    flex-direction: column;

}

#infoNome {
    margin-bottom: 2px !important;
}

.imagem {
    margin: 3px;
    width: 144px;
    height: 263px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.cat-itens {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-bottom: 2px;
    font-size: 12px;
    font-weight:600;
    color: #206C5D;
    padding: 2px;
}

.reconhecido {
    display: flex;
    flex-direction: row;
    padding: 6px;
}

.authSucess {
    width: 98%;
    height: 100%;
    padding-top: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 11px;
}

.authSucessMsg {
    width: 100%;
    height: 40%;
    display: flex;
    border-radius: 8px;
    background-color: #36E82A;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.authSucessMsgAlerta {
    font-weight: 600;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: auto;
}

#authSucessMsgAlertaInfo {
    font-size: 20px;
    font-weight: bold;
    padding-top: 5px;
}

.authSucessMsgTxt {
    padding-left: 5px;
    font-family: 'Roboto Bold', 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #206C5D;
}

.authSucessSaldo2 {
    font-size: 24px;
    font-weight: bold;
}

#authCheckOk{
    margin-right: 10px;
    width: 38.91px;
    color: #000;
    fill: #000;
}

.authSucessInfo {
    width: 100%;
    margin-left: 8px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex start;
}