* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to top, #026942, #1a6d4d) ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}


.container {
    margin-top: 20px;
    margin-left: 20px;
    width: 100%;
    background: linear-gradient(to top, #026942, #1E6759) ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    display: flex;
}

.bloco {
    padding: 6px;
}

.icon {
    width: 27px;
    padding: 2px 2px 2px 2px;
    margin: 0 auto;
    display: flex;
    color: #fafafa;
}

.alerta {
    width: 305px;
    height: 38px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    color: #fafafa;
    font-weight: bold;
    background-color: #FF9100;
    border-radius: 8px;
  }

.alertaTexto {
    font-size: 14px;
}

.circulosIcon {
    width: 50px;
}

.painel {
    margin-top: 15px;
    width: 305px;
    height: 269px;
    background-color: #fafafa;
    border-radius: 11px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 4px;
}

.infoItem {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}


.infoItemTxt {
    padding-left: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #206C5D;
    font-style: normal;
    display: flex;
}

.infoItemTxtCategorias {
    padding-left: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #206C5D;
    font-style: normal;
    display: flex;
    flex-direction: column;

}

.imagem {
    margin: 3px;
    width: 144px;
    height: 263px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.circulos {
    display: flex;
    align-items: center;
}

.circulo {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #00ff00;
    margin-right: 5px;
}

.corCerveja {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: transparent;
    border: 0.5px solid #0aa073;
    margin-right: 5px;
    position: relative;
}

.corCervejaInterno {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: rgb(221, 172, 10);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cat-itens {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2px;
    font-size: 12px;
    font-weight:600;
    color: #206C5D;
    padding: 2px;
}

.cat-itens-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    font-weight:600;
    color: #206C5D;
    align-items: center;
    justify-content: space-between;
}